<?xml version="1.0"?>
<config>
	<modules>
		<Elgentos_BlockIP>
			<version>0.1.0</version>
		</Elgentos_BlockIP>
	</modules>
    <admin>
        <routers>
            <blockip>
                <use>admin</use>
                <args>
                    <module>Elgentos_BlockIP</module>
                    <frontName>blockip</frontName>
                </args>
            </blockip>
        </routers>
    </admin>
    <global>
        <events>
        	<controller_front_init_before>
        		<observers>
					<check_blocked_ip>
                        <type>model</type>
                        <class>Elgentos_BlockIP_Model_Observer</class>
                        <method>checkBlocked</method>
                    </check_blocked_ip>
        		</observers>
        	</controller_front_init_before>
        </events>
    </global>
	<adminhtml>
		<translate>
			<modules>
				<Elgentos_BlockIP>
					<files>
						<default>Elgentos_BlockIP.csv</default>
					</files>
				</Elgentos_BlockIP>
			</modules>
		</translate>
		<layout>
			<updates>
				<blockip>
					<file>blockip.xml</file>
				</blockip>
			</updates>
		</layout>
		<menu>
            <system>
            	<children>
            		<tools>
            			<children>
            				<blockip>
									<title>Blocked IP's</title>
									<sort_order>100</sort_order>
									<action>blockip/adminhtml_index</action>
                			</blockip>
                		</children>
                	</tools>
                </children>
            </system>
        </menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<blockip translate="title" module="blockip">
											<title>BlockIP</title>
										</blockip>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<global>
		<models>
			<blockip>
				<class>Elgentos_BlockIP_Model</class>
				<resourceModel>blockip_mysql4</resourceModel>
			</blockip>
            <blockip_mysql4>
                <class>Elgentos_BlockIP_Model_Mysql4</class>
                <entities>
                    <ips>
                        <table>blocked_ips</table>
                    </ips>
                </entities>
            </blockip_mysql4>
		</models>
		<resources>
            <blockip_setup>
                <setup>
                    <module>Elgentos_BlockIP</module>
                    <class>Elgentos_BlockIP_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blockip_setup>
            <blockip_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blockip_write>
            <blockip_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blockip_read>
		</resources>
        <blocks>
            <blockip>
                <class>Elgentos_BlockIP_Block</class>
            </blockip>
        </blocks>
		<helpers>
			<blockip>
				<class>Elgentos_BlockIP_Helper</class>
			</blockip>
		</helpers>
	</global>
</config>
